.contacts {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 779px;
  padding: 10px 3px;
  margin-bottom: 99px;
}

.contacts__info-wrapper {
  width: 300px;
}

.contacts__info-title {
  margin: 26px 0 0 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  align-items: center;

  color: var(--color-black-2, black);

  &--address {
    margin-top: 15px;
  }
}

.contacts__info-content {
  margin: 7px 0 0 0;

  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  align-items: center;

  color: var(--color-black-0, black);

  &--address {
    margin-top: 10px;
  }
}

.contacts__map-wrapper {
  flex-grow: 1;
  max-width: 431px;
  max-height: 271px;
  margin-top: 20px;

  background-image: url("../../../images/map.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: $tablet) {
  .contacts {
    flex-wrap: wrap;

    padding: 10px 0;
    margin-bottom: 59px;
  }

  .contacts__info-title {
    margin: 10px 0 0 0;

    &--time,
    &--email {
      display: none;
    }
  }

  .contacts__info-content {
    margin: 4px 0 0 0;

    &--time,
    &--email {
      display: none;
    }
  }

  .contacts__map-wrapper {
    --size: 288px;
    min-width: var(--size);
    min-height: var(--size);
  }
}

@media (min-width: $tablet) and (max-width: $tablet) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__info-title {
    display: block;

    margin: 26px 0 0 0;

    &--address,
    &--time {
      margin-top: 15px;
    }
  }

  .contacts__info-content {
    display: block;

    margin: 7px 0 0 0;

    &--address {
      margin-top: 10px;
    }
  }

  .contacts__map-wrapper {
    --size: 283px;

    max-width: var(--size);
    max-height: var(--size);
    margin-right: auto;
  }
}
