.prime-header {
  width: 100%;

  background-color: var(--color-gray-0, gray);
}

.prime-header__content {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: $desktop;
  padding: 15px var(--padding) 14px;
  margin: 0 auto;
}

.prime-header__logo {
  display: block;

  width: 134px;
  height: 55px;
  margin: 0 3px;
}

.prime-header__nav {
  overflow: hidden;

  flex-grow: 1;
  margin-right: 4px;
}

.prime-header__nav-links-list {
  --links-offset: 34px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-right: calc(-1 * var(--links-offset));
}

.prime-header__nav-link {
  display: block;

  padding: 10px var(--links-offset);

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  color: var(--color-black-1, black);

  outline: none;
}

.prime-header__nav-link:hover {
  transform: scale(0.9);
}

.prime-header__nav-link:focus:not(:hover) {
  text-decoration: underline;
}

.prime-header__nav-link:active {
  opacity: 0.2;
}

@media (max-width: $tablet) {
  .prime-header__content {
    display: block;

    padding: 10px 0 0;
  }

  .prime-header__logo {
    margin-left: calc(var(--padding) - 6px);
  }

  .prime-header__nav {
    overflow: visible;

    margin: -48px 0 0;
  }

  .prime-header__nav-button {
    padding: var(--button-padding);
    margin: 0 calc(var(--padding) + 7px - var(--button-padding)) 0 auto;
  }

  .prime-header__nav-links-wrapper {
    overflow: hidden;

    margin-top: 20px;
  }

  @keyframes show-menu {
    0% {
      visibility: visible;

      margin-top: -100%;
    }

    100% {
      visibility: visible;

      margin-top: 0;
    }
  }

  @keyframes hide-menu {
    0% {
      visibility: visible;

      margin-top: 10px;
    }

    100% {
      visibility: hidden;

      margin-top: -100%;
    }
  }

  .prime-header__nav-links-list {
    display: block;
    visibility: hidden;

    width: 100%;
    margin-top: -100%;

    transition: margin 0.8s;

    &--visible {
      animation: show-menu 0.8s ease forwards;
      animation-delay: 0s;
    }

    &--hidden {
      animation: hide-menu 2s ease forwards;
      animation-delay: 0s;
    }
  }

  .prime-header__nav-link {
    text-align: center;
  }

  .prime-header__nav-link:not(:disabled)[href] {
    &:hover,
    &:focus {
      background-color: var(--color-gray-2);
    }

    &:hover {
      transform: scale(1);
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  .prime-header__content {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }

  .prime-header__logo {
    margin-left: 0;
  }

  .prime-header__nav-button {
    margin-right: calc(-1 * (var(--padding) - var(--button-padding)));
  }
}
